@model IQueryable<Pohui.Models.Creative>
@foreach (var creative in Model)
{                
    <div class="well">
        <h3 style="text-align: center">@creative.Name</h3>
        <h5>@creative.Description</h5>
        <div class="@creative.Id" id="panel" style="display: none;">

            <div class="col-8">
              
                <div id="@creative.Id"></div>
                  <div id="content_@creative.Id" data-fit="cover"> </div>
               

            </div>
        </div>
        <button class="btn btn-info btn-sm" id="slidedown" name="@creative.Id"><i class="glyphicon glyphicon-arrow-down"></i></button>
        <span class="pull-right">
            <button  class="btn  btn-primary btn-sm" id="like" name="@creative.Id">
                <i class="glyphicon glyphicon-thumbs-up"></i>
                <p id="likeid @creative.Id">@creative.Votes</p>
            </button>
        </span>
    </div>      
}
<script type="text/javascript">
    $(document).ready(function () {

        $('button[id="slidedown"]').click(function () {
            var creativeID = this.name;
            $.ajax({
                url: '/Creative/GetAllChapters?id=' + creativeID,
                success: function (response) {
                    $('#' + creativeID).html(response);
                }
            });
            $('.' + creativeID).slideToggle();
            $(this).toggleClass("active");
            return false;
        });
    });
</script>
<script>
    $('button[id="like"]').click(function () {
        var creativeID = this.name;
        $.ajax({
            url: '/Creative/AddLike?id=' + creativeID,
            success: function (response) {
                $('#likeid ' + creativeID).html(response);
            }
        });
    });
    $('button[id="dropdowntext"]').click(function () {
        var creativeID = this.name;
    });
</script>
