@using MyRes = Resources.Resource
@if (Request.IsAuthenticated)
{    <li>
    <div class="dropdown">
        <a class="dropdown-toggle btn btn-default navbar-btn" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-user"></i> @User.Identity.Name
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>
                <a tabindex="-1" href="\Account\Manage">@MyRes.ChangePassword</a>
                <a tabindex="-1" href="\Account\ProfilePage?userName=@User.Identity.Name">@MyRes.ProfilePage</a>
            </li>
        </ul>
    </div>
</li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default navbar-btn">@MyRes.logoff
            </a>
        }
    </li>
}
else
{

    <li>@Html.ActionLink(@MyRes.Register, "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn", id = "registerLink" })</li>
    <li>@Html.ActionLink(@MyRes.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn", id = "loginLink" })</li>

}
